wannier90_version: "2.1"
wannier90_src_archive: "wannier90-{{ wannier90_version }}.tar.gz"
wannier90_url: "https://github.com/wannier-developers/wannier90/archive/v2.1.tar.gz"

wannier90_code_folder: "{{ ansible_env.HOME }}"
wannier90_src: "wannier90-{{ wannier90_version }}"
wannier90_topdir: "{{ wannier90_code_folder }}/{{wannier90_src}}"

wannier90_executables:
  - target: wannier
    execname: wannier90.x
  - target: post
    execname: postw90.x
  - target: w90chk2chk
    execname: w90chk2chk.x
