---
# Add the user for logging in with

- name: "Add user with key: {{ vm_user }}"
  ansible.builtin.import_role:
    name: marvel-nccr.add_user
  vars:
    add_user_name: "{{ vm_user }}"
    add_user_password: "{{ vm_password }}"
    add_user_groups:
    - "{{ vm_user }}"
    - sudo
    add_user_passwordless_sudo: true

# This does not seem to be the default when building on ARM64
- name: Set user shell to bash
  become: true
  ansible.builtin.user:
    name: "{{ vm_user }}"
    shell: /bin/bash

- name: Add user to 'vboxsf' group on VirtualBox
  # This enables sudoless access to shared folder in VirtualBox
  when: cloud_platform == 'virtualbox'
  become: true
  ansible.builtin.user:
    name: "{{ vm_user }}"
    groups: vboxsf
    append: true
