---
# download pseudopotials and install them in aiida

- name: Set pseudo folder path for SSSP
  ansible.builtin.set_fact:
    pseudo_folder: "{{ aiida_pseudo_base_folder }}/pseudo_sssp_{{ aiida_pseudo_functional }}_{{ aiida_pseudo_protocol }}_{{ aiida_pseudo_version }}"

- name: Create the folder to download
  become: true
  become_user: "{{ root_user }}"
  ansible.builtin.file:
    path: "{{ pseudo_folder }}"
    state: directory
    owner: "{{ vm_user }}"
    group: "{{ vm_user }}"
    mode: "0755"

- name: Download the archive to the download location
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.command: |
    {{ aiida_pseudo_cmd }} \
    install sssp --traceback --download-only \
    --version {{ aiida_pseudo_version | quote }} \
    --functional {{ aiida_pseudo_functional | quote }} \
    --protocol {{ aiida_pseudo_protocol | quote }} \
  args:
    chdir: "{{ pseudo_folder }}"
    creates: "archive.tar.gz"

- name: Add the archive to the AiiDA profile
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.command: |
    {{ aiida_pseudo_cmd }} \
    --profile {{ aiida_pseudo_profile | quote }} \
    install sssp --traceback \
    --version {{ aiida_pseudo_version | quote }} \
    --functional {{ aiida_pseudo_functional | quote }} \
    --protocol {{ aiida_pseudo_protocol | quote }} \
  register: result
  failed_when: result.rc != 0 and "already installed" not in result.stderr
  changed_when: '"already installed" not in result.stderr'

- name: Document potential
  ansible.builtin.include_role:
    name: release_notes
    public: true
  vars:
    section: "Pseudopotentials"
    option: "SSSP/{{ aiida_pseudo_functional }}/{{ aiida_pseudo_protocol }}/{{ aiida_pseudo_version }}"
    value: "{{ pseudo_folder }}"
