---
- name: "Expand {{ aiida_examples_folder }}"
  become: true
  become_user: "{{ vm_user }}"
  chrisjsewell.conda.expandpath:
    path: "{{ aiida_examples_folder }}"
  register: aiida_examples_dir

- name: "Create folder: {{ aiida_examples_dir.path }}"
  ansible.builtin.file:
    path: "{{ aiida_examples_dir.path }}"
    state: directory
    mode: "0755"

# TODO get list of all files in aiida_run_scripts

- name: "Copy and run aiida script"
  ansible.builtin.include_tasks: aiida-example-run.yml
  vars:
    aiida_script_path: "{{ aiida_examples_dir.path }}/{{ aiida_script }}"
  loop:
  - qe_pw.py
  - nwchem.py
  loop_control:
    loop_var: aiida_script
