---
- name: "Copy aiida script: {{ aiida_script }}"
  ansible.builtin.copy:
    src: aiida_run_scripts/{{ aiida_script }}
    dest: "{{ aiida_script_path }}"
    owner: "{{ vm_user }}"
    group: "{{ vm_user }}"
    mode: "0644"
  register: aiida_script_copy

- name: "Run aiida script: {{ aiida_script }}" # noqa no-handler
  when: aiida_script_copy.changed
  ansible.builtin.shell: |
    {{ aiida_verdi_cmd }} run {{ aiida_script_path }}
