---
- name: Apt-get clean # noqa command-instead-of-module
  become: true
  ansible.builtin.command: apt-get clean
  changed_when: true

- name: Wipe apt lists
  become: true
  ansible.builtin.shell: "rm -rf /var/lib/apt/lists/*" # noqa no-free-form
  changed_when: true

- name: Wipe user cache
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.file:
    state: absent
    path: "~/.cache"

- name: Wipe root user cache
  become: true
  ansible.builtin.file:
    state: absent
    path: "~/.cache"

- name: Clean conda cache
  # for a discussion on using -f, see: https://github.com/jupyter/docker-stacks/issues/861
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.command: "~/.conda/bin/mamba clean --yes --all -f"
  changed_when: true
