---
- name: "Check if conda env exists: '{{ conda_env }}'"
  tags: [code-envs]
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.stat:
    path: "/home/{{ vm_user }}/.conda/envs/{{ conda_env }}"
  register: conda_env_stat

- name: "Install environment: {{ conda_env }} "
  tags: [code-envs]
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.shell: >
    ~/.conda/bin/mamba {{ 'install' if conda_env_stat.stat.exists else 'create' }}
    -n {{ conda_env }} -y {{ code_packages | join(' ') }}
  register: result
  changed_when: "'All requested packages already installed' not in result.stdout"

- name: "Ensure conda env is on PATH via .bashrc"
  tags: [code-envs]
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.blockinfile:
    path: "/home/{{ vm_user }}/.bashrc"
    marker: "## {mark} ANSIBLE MANAGED BLOCK ({{ conda_env }})"
    block: |
      export PATH="$HOME/.conda/envs/{{ conda_env }}/bin:$PATH"

- name: "Retrieve list of core packages in env: {{ conda_env }}"
  tags: [code-envs]
  become: true
  become_user: "{{ vm_user }}"
  chrisjsewell.conda.list_pkgs:
    executable: "~/.conda/bin/mamba"
    env: "{{ conda_env }}"
    regex: "({{ code_packages | map('regex_search', '^[^=]+') | join('|') }})"
  register: code_packages_list

- name: Document conda packages in release notes
  tags: [code-envs]
  ansible.builtin.include_role:
    name: release_notes
    public: true
  vars:
    section: "Conda '{{ conda_env }}' environment"
    option: "{{ pkg.name }}"
    value: "{{ pkg.version }}-{{ pkg.build_string }}@{{ pkg.channel }}"
  loop: "{{ code_packages_list.list }}"
  loop_control:
    loop_var: pkg
    label: "{{ pkg.name }}"
  when: release_notes is defined and release_notes
