---
- name: "Install environment: {{ conda_env }}"
  tags: [code-envs]
  become: true
  become_user: "{{ vm_user }}"
  chrisjsewell.conda.install_pkgs:
    executable: "~/.conda/bin/mamba"
    env: "{{ conda_env }}"
    packages: "{{ code_packages }}"

- name: "Retrieve list of core packages in env: {{ conda_env }}"
  tags: [code-envs]
  become: true
  become_user: "{{ vm_user }}"
  chrisjsewell.conda.list_pkgs:
    executable: "~/.conda/bin/mamba"
    env: "{{ conda_env }}"
    regex: "({{ code_packages | map('regex_search', '^[^=]+') | join('|') }})"
  register: code_packages_list

- name: Document conda packages in release notes
  tags: [code-envs]
  ansible.builtin.include_role:
    name: release_notes
    public: true
  vars:
    section: "Conda '{{ conda_env }}' environment"
    option: "{{ pkg.name }}"
    value: "{{ pkg.version }}-{{ pkg.build_string }}@{{ pkg.channel }}"
  loop: "{{ code_packages_list.list }}"
  loop_control:
    loop_var: pkg
    label: "{{ pkg.name }}"
  when: release_notes is defined and release_notes
