---
# may roles require installing from apt or pip
# here we ensure both are available and up-to-date

- name: Update apt cache and install aptitude
  become: true
  become_user: "{{ root_user }}"
  ansible.builtin.apt:
    name:
    - aptitude
    - python3-pip
    # for ansible temporary file writing
    # https://github.com/georchestra/ansible/issues/55#issuecomment-651043423
    - acl
    update_cache: true
    cache_valid_time: 86400 # One day

- name: Create man directory
  when: cloud_platform == 'docker'
  ansible.builtin.file:
    path: /usr/share/man/man1
    state: directory
    mode: "0755"

- name: Upgrade pip
  become: true
  become_user: "{{ root_user }}"
  ansible.builtin.pip:
    name: pip
    extra_args: --upgrade
