---
- name: Install plotting tools, etc.
  become: true
  become_user: "{{ root_user }}"
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present

- name: "Get versions"
  apt_show:
    name: "{{ packages | join(' ') }}"
  register: plot_versions

- name: "Document versions"
  loop: "{{ plot_versions.data | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  ansible.builtin.include_role:
    name: release_notes
    public: true
  vars:
    section: "Apt packages"
    option: "{{ item.key }}"
    value: "{{ item.value.version }}"
