---
# Install and start the postgresql service, and setup the database.

# this task should be run as the root user

- name: Install Postgresql apt dependencies
  ansible.builtin.apt:
    name:
    - postgresql
    - postgresql-server-dev-all
    - postgresql-client
    - python3-psycopg2 # required for postgresql_db role

- name: Start Postgresql service (systemd)
  ansible.builtin.service:
    name: "postgresql"
    state: "started"
    enabled: true

- name: Get postgres version
  apt_show:
    name: postgresql-client
  register: postgresql_version

- name: Document postgresql version
  ansible.builtin.include_role:
    name: release_notes
    public: true
  vars:
    section: "Apt packages"
    option: "postgresql-client"
    value: "{{ postgresql_version.data['postgresql-client'].version }}"
