---
# Install and start the rabbitmq service

# this task should be run as the root user

- name: Install RabbitMQ apt dependencies
  ansible.builtin.apt:
    name:
    - rabbitmq-server

# see https://github.com/marvel-nccr/quantum-mobile/issues/111
- name: Ensure correct RabbitMQ shutdown (systemd)
  ansible.builtin.lineinfile:
    path: /lib/systemd/system/rabbitmq-server.service
    regexp: ExecStop=/usr/sbin/rabbitmqctl stop
    line: ExecStop=/usr/sbin/rabbitmqctl shutdown

- name: Start RabbitMQ service (systemd)
  ansible.builtin.service:
    name: "rabbitmq-server"
    state: "started"
    enabled: true

- name: Get rabbitmq version
  apt_show:
    name: rabbitmq-server
  register: rabbitmq_version

- name: Document rabbitmq version
  ansible.builtin.include_role:
    name: release_notes
    public: true
  vars:
    section: "Apt packages"
    option: "rabbitmq-server"
    value: "{{ rabbitmq_version.data['rabbitmq-server'].version }}"
