---
# these are general setups needed by many simulation codes

- name: Create a /scratch directory for calculations
  become: true
  become_user: "{{ root_user }}"
  ansible.builtin.file:
    path: "/scratch"
    state: directory
    mode: "0777"

- name: Set timezone to {{ vm_timezone }}
  when: cloud_platform != 'docker'
  become: true
  community.general.timezone:
    name: "{{ vm_timezone }}"
  tags: simulationbase_timezone

- name: Set stack size to unlimited
  become: true
  become_user: "{{ vm_user }}"
  ansible.builtin.lineinfile:
    path: "${HOME}/.profile"
    line: ulimit -s unlimited

- name: "Check if swapfile exists"
  ansible.builtin.stat:
    path: /swapfile
  register: swapfile_stat

- name: Install swapfile
  when: (not swapfile_stat.stat.exists) and cloud_platform != 'docker'
  become: true
  become_user: "{{ root_user }}"
  block:
  # a swap file allows the system to use the hard disk as virtual memory
  # this is useful if the system has less than 4GB of RAM,
  # although it does make the system slower

  - name: "Create swapfile"
    ansible.builtin.command: "dd if=/dev/zero of=/swapfile bs=1M count=1024"
  - name: "Make the swapfile a valid swap"
    ansible.builtin.command: "mkswap /swapfile"
  - name: "Use the swapfile"
    ansible.builtin.command: "swapon /swapfile"
  - name: "Put a line in fstab to ensure swap is used at boot time"
    ansible.builtin.lineinfile:
      path: "/etc/fstab"
      line: "/swapfile swap swap defaults 0 0"

- name: Setup hostname to {{ vm_hostname }}
  when: cloud_platform != 'docker'
  block:
  - name: "Get the machine hostname"
    become: true
    ansible.builtin.command: "hostname"
    register: cur_hostname_command
    changed_when: false

  - name: "Update machine hostname, if necessary"
    become: true
    ansible.builtin.hostname:
      name: "{{ vm_hostname }}"
    when: cur_hostname_command.stdout != vm_hostname

  - name: "Remove lines with 127.0.1.1, except for 127.0.1.1. localhost"
    become: true
    ansible.builtin.lineinfile:
      path: "/etc/hosts"
      regexp: "^127\\.0\\.1\\.1 (?!localhost)"
      state: absent

  - name: Set 127.0.1.1 to localhost
    become: true
    ansible.builtin.lineinfile:
      path: "/etc/hosts"
      regexp: "^127\\.0\\.1\\.1"
      line: "127.0.1.1 localhost"
