---
- name: disable guest account
  become: true
  ini_file: 
    path: /usr/share/lightdm/lightdm.conf.d/50-ubuntu.conf
    section: "Seat:*"
    option: "allow-guest"
    value: "false"
  notify: restart lightdm 
  register: disable_guest_account

- name: hide vagrant user on login screen
  become: true
  ini_file: 
    path: /var/lib/AccountsService/users/vagrant
    section: "User"
    option: "SystemAccount"
    value: "true"
  notify: restart lightdm 
