*~
*.swp
.DS_Store
*.retry
*.log
*.ova
vagrant-ssh
.vagrant
RELEASENOTES.txt
docs/_build
resources/*/*.png
tmp.vdi
tmp.vmdk
.vscode/
.tox/
dist/
_archive
TODO.md

# roles & dependencies
submodules/roles/marvel-nccr*
submodules/roles/gantsign*
submodules/roles/geerlingguy*
submodules/ansible_collections/

local/modules/__pycache__/*.pyc
