*~
*.swp
.DS_Store
*.retry
*.log
*.ova
vagrant-ssh
.vagrant
RELEASENOTES.txt
docs/_build
resources/*/*.png
tmp.vdi
tmp.vmdk
.tox/
dist/
_archive

# roles & dependencies
roles/marvel-nccr*
roles/gantsign*
