---
# For use with pre-commit.
# See usage instructions at https://pre-commit.com
repos:
- repo: https://github.com/ansible/ansible-lint
  rev: v26.1.1
  hooks:
  - id: ansible-lint

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
