- name: Prepare for VM build

  hosts: "{{ build_hosts | default('vagrant-ssh') }}"
  gather_facts: false

  pre_tasks:

  - name: test configuration
    tags: [init]
    debug:
      msg: RUNNING PLAYBOOK FOR '{{ vm_name }}' VERSION '{{ vm_version }}'

  - name: testing ansible environment
    tags: [init]
    debug:
      msg: Connecting to host '{{ inventory_hostname }}' as user '{{ ansible_user }}'

  - name: Install linux-headers-generic for guest-additions
    tags: [init]
    when: "inventory_hostname.startswith('vagrant')"
    become: true
    apt:
      cache_valid_time: 86400  # One day
      name:
      - linux-headers-generic

  - name: Make local dist folder
    tags: [init]
    local_action:
      module: file
      state: directory
      path: "{{ local_dist_folder }}/"
    when: release_notes_locally is defined and release_notes_locally

- name: Build VM
  hosts: "{{ build_hosts | default('vagrant-ssh') }}"

  tasks:

  # Generic Tasks
  # These tasks are run for any VM build, regardless of the software installed
  # They setup the VM user, commandline interface, and (optionally) desktop GUI

  - name: Update system package managers (apt, pip)
    tags: [init]
    include_tasks: local/tasks/ensure-apt-pip.yml

  - name: "Add QM user '{{ vm_user }}'"
    tags: [add_user, ci_test]
    import_tasks: local/tasks/add-qm-user.yml

  - name: "Add release notes section for the operating system"
    tags: [release_notes]
    import_tasks: local/tasks/release-notes-system.yml

  - name: Customise bash terminal for QM
    tags: [customise-bash]
    become: true
    become_user: "{{ vm_user }}"
    import_tasks: local/tasks/customise-bash.yml

  - name: Install common text editors
    tags: [editors]
    import_role:
      name: marvel-nccr.editors
    vars:
      editors_vm_user: "{{ vm_user }}"

  - name: Add desktop GUI
    tags: [ubuntu_desktop]
    when: not vm_headless
    import_role:
      name: marvel-nccr.ubuntu_desktop
    vars:
      ubuntu_desktop_vm_user: "{{ vm_user }}"
      ubuntu_desktop_browser: "{{ vm_browser }}"

  - name: Customise GUI for QM
    tags: [customise-gui]
    when: not vm_headless
    become: true
    become_user: "{{ vm_user }}"
    import_tasks: local/tasks/customise-gui.yml

  - name: Setup QM to run simulations
    tags: [simsetup]
    import_tasks: local/tasks/simulation-setup.yml

  # Build Specific Tasks
  # These tasks can be customised for specific VM builds,
  # depending on the software one requires to be installed

  - name: "Add user README"
    tags: [add_readme]
    become: true
    become_user: "{{ vm_user }}"
    template:
      src: local/tasks/files/README.md.j2
      dest: "{{ readme_vm_path }}"
    vars:
      software_urls:
        # Abinit: https://www.abinit.org
        # BigDFT: http://www.bigdft.org
        # CP2K: https://www.cp2k.org
        # Fleur: http://www.flapw.de/
        # NWChem: https://nwchemgit.github.io/
        Quantum ESPRESSO: http://www.quantum-espresso.org/
        # Siesta: https://gitlab.com/siesta-project/siesta
        # Wannier90: http://www.wannier.org
        # Yambo: http://www.yambo-code.org/

  - name: Install plotting tools (via apt)
    # TODO we may want to eventually install these with conda
    tags: [plotting]
    import_tasks: local/tasks/plotting-tools.yml
    vars:
      packages: [grace, gnuplot, xcrysden, jmol, default-jre]

  - name: install SLURM service
    tags: [slurm]
    import_role:
      name: marvel-nccr.slurm

  # TODO control version
  # could install with conda, but how to set up the systemd service?
  - name: install RabbitMQ server service
    tags: [rabbitmq]
    become: true
    become_user: "{{ root_user }}"
    import_tasks: local/tasks/rabbitmq.yml

  # TODO control version
  # could install with conda, but how to set up the systemd service?
  - name: install PostrgeSQL server service
    tags: [postgresql]
    become: true
    become_user: "{{ root_user }}"
    import_tasks: local/tasks/postgresql.yml

  - name: install conda+mamba
    tags: [mamba]
    import_role:
      name: chrisjsewell.conda.user_install
    become: true
    become_user: "{{ vm_user }}"
    vars:
      conda_folder: "~/.conda"
      conda_installer_url: https://github.com/conda-forge/miniforge/releases/download/4.14.0-0/Mambaforge-4.14.0-0-Linux-x86_64.sh
      conda_installer_checksum: sha256:d47b78b593e3cf5513bafbfa6a51eafcd9f0e164c41c79c790061bb583c82859
      conda_activate_alias: workon

  - name: Install AiiDA environment
    tags: [aiida-env]
    become: true
    become_user: "{{ vm_user }}"
    import_tasks: local/tasks/aiida-conda-env.yml
    vars:
      aiida_packages:
      - python=3.9
      - pip
      - aiida-core=2
      - aiida-quantumespresso=4
      - aiida-pseudo=0.7
      - ipykernel
      - jupyterlab=3
      - cif2cell

  - name: Create an aiida-profile
    tags: [aiida-profile]
    become: true
    become_user: "{{ vm_user }}"
    import_tasks: local/tasks/aiida-profile.yml
    vars:
      name: "{{ aiida_profile }}"
      aiida_run_verdi: "~/.conda/bin/conda run -n aiida verdi"
      postgres_user: postgres
      parameters:
        first_name: Max
        last_name: Scientist
        email: aiida@localhost
        institution: Quantum Mobile
        db_host: localhost
        db_port: 5432
        db_name: aiidadb
        db_username: aiida
        db_password: "ne9N_LDK-*JSS"
      daemon_service: true

  - name: Create AiiDA Jupyter service
    tags: [aiida-jupyter]
    become: true
    become_user: "{{ vm_user }}"
    import_tasks: local/tasks/aiida-jupyter.yml

  - name: "Create AiiDA computers"
    tags: [aiida-computers]
    become: true
    become_user: "{{ vm_user }}"
    verdi_computer:
      verdi: "~/.conda/bin/conda run -n aiida verdi"
      profile: "{{ aiida_profile }}"
      label: "{{ item.l }}"
      scheduler: "{{ item.s }}"
      transport: core.local
      hostname: localhost
      work_dir: "~/.aiida_run"
      mpirun_command: "mpirun -np {tot_num_mpiprocs}"
      mpiprocs_per_machine: 2
      configure: "--safe-interval=0"
    loop:
    - {l: local_direct, s: core.direct}
    - {l: local_slurm, s: core.slurm}
    loop_control:
      label: "{{ item.l }}"

  - name: Download and install import SSSP potentials
    tags: [aiida-pseudo]
    import_tasks: local/tasks/aiida-pseudo.yml
    vars:
      aiida_pseudo_cmd: "~/.conda/bin/conda run -n aiida aiida-pseudo"
      aiida_pseudo_base_folder: "{{ vm_data_folder }}"
      aiida_pseudo_functional: "PBE"
      aiida_pseudo_protocol: "efficiency"
      aiida_pseudo_version: "1.1"
      aiida_pseudo_profile: "{{ aiida_profile }}"

  - name: "Install Quantum Espresso"
    tags: [qe]
    import_tasks: local/tasks/install-quantum-espresso.yml
    vars:
      quantum_espresso_version: "7.1"
      quantum_espresso_url: "https://gitlab.com/QEF/q-e/-/archive/qe-{{ quantum_espresso_version }}/q-e-qe-{{ quantum_espresso_version }}.tar.gz"
      quantum_espresso_builddir: "{{ build_dir }}"
      quantum_espresso_prefix: "/usr/local"
      quantum_espresso_executables:
        pw: pw.x
        cp: cp.x
        pp: pp.x
        ph: ph.x
        neb: neb.x
        hp: hp.x
        w90: wannier90.x
        epw: epw.x
        tddfpt: tddfpt.x

  - name: "Add Quantum Espresso AiiDA Codes"
    tags: [qe-codes]
    become: true
    become_user: "{{ vm_user }}"
    verdi_code:
      verdi: ~/.conda/bin/conda run -n aiida verdi
      profile: "{{ aiida_profile }}"
      label: "{{ item.l }}"
      computer: local_slurm
      input_plugin: "{{ item.i }}"
      remote_abs_path: "/usr/local/bin/{{ item.e }}"
      prepend_text: |
        ulimit -s unlimited
        export OMP_NUM_THREADS=1
    loop:
    - {l: qe.pw, e: pw.x, i: quantumespresso.pw}
    - {l: qe.cp, e: cp.x, i: quantumespresso.cp}
    - {l: qe.pp, e: pp.x, i: quantumespresso.pp}
    - {l: qe.ph, e: ph.x, i: quantumespresso.ph}
    - {l: qe.neb, e: neb.x, i: quantumespresso.neb}
    - {l: qe.epw, e: epw.x, i: quantumespresso.epw}
    - {l: qe.projwfc, e: projwfc.x, i: quantumespresso.projwfc}
    - {l: qe.pw2wannier90, e: pw2wannier90.x, i: quantumespresso.pw2wannier90}
    - {l: qe.dos, e: dos.x, i: quantumespresso.dos}
    - {l: qe.q2r, e: q2r.x, i: quantumespresso.q2r}
    - {l: qe.matdyn, e: matdyn.x, i: quantumespresso.matdyn}
    loop_control:
      label: "{{ item.l }}"

  post_tasks:

  # These break idempotency,
  # so only run once all other tasks have completed

  - name: "Clean caches"
    tags: [never, cleanup]
    import_tasks: local/tasks/clean-caches.yml

  - name: "Remove {{ build_dir }} content"
    tags: [never, cleanup]
    become: true
    command: rm -rf {{ build_dir }}/*
