# {{ ansible_managed }}

[Default Applications]
text/html={{ default_web_browser }}.desktop
x-scheme-handler/http={{ default_web_browser }}.desktop
x-scheme-handler/https={{ default_web_browser }}.desktop
x-scheme-handler/about={{ default_web_browser }}.desktop
x-scheme-handler/unknown={{ default_web_browser }}.desktop
