- name: "VM release notes: Add '{{ option }}' to '{{ section }}'"
  become: true
  become_user: "{{ release_notes_vm_user }}"
  ini_file:
    path: "{{ release_notes_vm_path }}"
    section: "{{ section }}"
    option: "{{ option }}"
    value: "{{ value }}"
    create: true

- name: "localhost release notes: Add '{{ option }}' to '{{ section }}'"
  delegate_to: localhost
  become: false
  ini_file:
    path: "{{ release_notes_localhost }}"
    section: "{{ section }}"
    option: "{{ option }}"
    value: "{{ value }}"
    create: true
  when: release_notes is defined and release_notes_locally
