---
blogpost: true
author: Quantum Mobile
date: 2021-01-01
category: Full
tags: desktop,docker
---

# v{{ vm_version }}

{{ vm_description }}

## Installation instructions

Get Quantum Mobile running on your computer in three simple steps:

 1. Download virtual machine image ({{ vm_image_file.stat.size | filesizeformat }})
    - URL: <https://rgw.cscs.ch/matcloud:public-marvel-vms/{{ image_path | basename }}>
    - Filename: `{{ image_path | basename }}`
    - MD5 hash: `{{ vm_image_file.stat.checksum }}`
 2. Install Virtual Box 6.1.6 or later (see <https://www.virtualbox.org>)
 3. Import virtual machine image into Virtualbox ({{ vm_vdisk_file.stat.size | filesizeformat }})
    File => Import Appliance

Login credentials: username: `{{ vm_user }}`, password: `{{ vm_password }}`.  
The default configuration of `{{ vm_cpus }}` cores and `{{ vm_memory }}` MB RAM can be adjusted in the VM settings.

Alternatively, this Quantum Mobile is available as a Docker image: <https://hub.docker.com/r/marvelnccr/quantum-mobile>

## Contact

For issues encountered during installation, please first consult the [FAQ page](https://github.com/marvel-nccr/quantum-mobile/wiki/Frequently-Asked-Questions#virtualbox-installationstartup-issues).

Please direct inquiries regarding Quantum Mobile to the [Quantum Mobile support channel](https://aiida.discourse.group/c/quantum-mobile/) in the AiiDA Discourse

## Changelog

### Improvements

<!-- Fill this out manually -->

### Bug fixes

<!-- Fill this out manually -->

### Build Process

- OS: `{{ ansible_distribution }}`
- Ansible: `{{ ansible_version.string }}`
- Vagrant: `{{ vagrant_version.stdout.replace('Vagrant ', '') }}`
- Virtualbox: `{{ vbox_version.stdout }}`
- Base VM Image: `{{ vm_base_image }}`

### Software Summary

```ini
Copy-paste here: `{{ release_notes_localhost }}`
```
