- name: Create folder for codes
  file:
      path: "{{ globalconfig.vm_codes_folder }}"
      state: directory

- name: Create folder for examples
  file:
      path: "{{ globalconfig.vm_examples_folder }}"
      state: directory

- name: Add readme for examples
  ini_file:
    path: "{{ globalconfig.vm_examples_readme }}"
    section: "General"
    option: "info"
    value: >-
      This folder contains examples of how to use the various codes that are
      available in the VM.
      You find this folder both in the user home directory and (symlinked) on
      the Desktop.
    create: true

- name: symlink examples to desktop
  file:
    src: "{{ globalconfig.vm_examples_folder }}"
    dest: "{{ ansible_env.HOME }}/Desktop/examples"
    state: link
