[Unit]
Description=AiiDA daemon service
After=network.target

[Service]
Type=forking
ExecStart={{ aiida_venv }}/bin/verdi daemon start
PIDFile={{ ansible_env.HOME }}/.aiida/daemon/circus-default.pid
# 2s delay to prevent read error on PID file
ExecStartPost=/bin/sleep 2

ExecStop={{ aiida_venv }}/bin/verdi daemon stop
ExecReload={{ aiida_venv }}/bin/verdi daemon restart

User={{ ansible_user }}
Group={{ ansible_user }}
Restart=on-failure
RestartSec=60       # Restart daemon after 1 min if crashes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=aiida-daemon

[Install]
WantedBy=multi-user.target
