cp2k_version: "5.1"
#cp2k_apt_version: "4.1-1"
cp2k_executables:
  - cp2k.ssmp

cp2k_src: cp2k-{{ cp2k_version }}
cp2k_src_archive: "{{ cp2k_src }}.tar.bz2"
cp2k_code_folder: "{{ ansible_env.HOME }}"
cp2k_url: "https://sourceforge.net/projects/cp2k/files/{{ cp2k_src_archive }}/download"
cp2k_topdir: "{{ cp2k_code_folder }}/{{cp2k_src}}"
#cp2k_make_arch: Linux-x86-64-gfortran
#cp2k_make_versions: 
# - sopt 
# - popt
#cp2k_make_cpus: 2

# binary download
cp2k_binary: cp2k-{{ cp2k_version }}-Linux-x86_64.ssmp
cp2k_binary_url: "https://sourceforge.net/projects/cp2k/files/precompiled/{{ cp2k_binary }}"
cp2k_svn_url: "https://sourceforge.net/p/cp2k/code/HEAD/tree/branches/cp2k-5_1-branch/cp2k"
