---
- name: link tutorials scripts in home
  file:
      state: link
      src: "{{ aiida_demos_folder }}/tutorial/scripts"
      path: "${HOME}/tutorial_scripts"

- name: install latex
  become: True
  become_user: "{{ root_user }}"
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - texlive-base
    - texlive-latex-base
    - texlive-latex-recommended
    - texlive-fonts-recommended
    - texlive-latex-extra

- name: install nwchem (from APT)
  become: True
  become_user: "{{ root_user }}"
  apt:
    name: "nwchem"
    state: present

# TODO: 
- name: get the .aiida import file 
  get_url: 
    url: "https://www.dropbox.com/s/8i6v8zvrcmmgmjr/tutorial_perovskites.aiida?dl=1"
    dest: "/tmp/aiida_tutorial_import.aiida"
  register: get_aiida_import_file

- name: put the manual migration script in place
  copy:
    src: migrate.py
    dest: "/tmp/aiida_import_migrate.py"

- name: import the AiiDA data for the tutorial
  shell: "{{ aiida_venv }}/bin/verdi import /tmp/aiida_tutorial_import.aiida"
  when: get_aiida_import_file
  register: import_aiida_file

- name: 
  shell: "{{ aiida_venv }}/bin/verdi run /tmp/aiida_import_migrate.py"
  when: get_aiida_import_file
  register: aiida_import_fixes
  changed_when: "'Nothing changed' not in aiida_import_fixes.stdout"
  
