- name: Install torque packages
  apt: pkg={{ item }} state=present
  become: true
  with_items:
    - torque-scheduler 
    - torque-server 
    - torque-mom 
    - torque-client 

- name: "get the torque hostname"
  become: true
  shell: "cat /etc/torque/server_name"
  register: hostnamecontent_command
  changed_when: False

- name: "set the torque hostname (1)"
  become: true
  shell: "echo '{{ hostname }}' > /etc/torque/server_name"
  when: hostnamecontent_command.stdout != hostname

- name: "set the torque hostname (2)"
  become: true
  lineinfile: 
    path: "/var/spool/torque/mom_priv/config"
    line: "$pbsserver {{ hostname }}"
    create: true
  register: torque_hostname_2

- name: "set the torque hostname (3)"
  become: true
  # Setting here 2 CPUs
  lineinfile: 
    path: "/var/spool/torque/server_priv/nodes"
    line: "{{ hostname }} np=2"
    create: true
  register: torque_hostname_3

# Note: we need to restart because the services are already started
# when installed, and we change the hostname only afterwards
## For some reason, using the ansible 'service' module
## sometime doesn't properly restart the server, and the following 
## task "checking..." then fails... I try to restart 'manually'
#- name: (Re)start the torque services
#  become: true
#  service:
#    name: "{{ item }}"
#    state: restarted
#  with_items:
#    - torque-server
#    - torque-mom
#    - torque-scheduler
- name: Restart the torque server
  become: true
  shell: /etc/init.d/torque-server restart
  when: hostnamecontent_command.stdout != hostname or torque_hostname_2.changed or torque_hostname_3.changed
  
- name: waiting 5 seconds for torque to start...
  shell: sleep 5
  when: hostnamecontent_command.stdout != hostname or torque_hostname_2.changed or torque_hostname_3.changed
  changed_when: False

- name: "Checking if torque is already configured"
  become: true
  shell: qmgr -c "print server"
  register: qmgr_check_command
  changed_when: False

- name: executing torque configuration
  shell: "{{ item }}"
  become: true
  with_items:
    - qmgr -c "create queue batch queue_type=execution"
    - qmgr -c "set server query_other_jobs = True"
    - qmgr -c "set queue batch resources_max.ncpus=2"
    - qmgr -c "set server default_queue=batch"
    # Torque queue set
    - qmgr -c "set queue batch enabled=True"
    - qmgr -c "set queue batch started=True"
    # Torque queue started
    - qmgr -c "set queue batch resources_default.nodes=1"
    - qmgr -c "set queue batch resources_default.walltime=3600"
    - qmgr -c "set queue batch max_running=2"
    # Torque queue parameters set
    - qmgr -c "set server scheduling=True"
    # Torque scheduling started
    - qmgr -c "unset server acl_hosts"
    - qmgr -c "set server acl_hosts={{ hostname }}"
    # Torque server ACL hosts set
  register: qmgr_command_result
  failed_when: "'Unauthorized' in qmgr_command_result.stderr"
  when: 
    "'batch' not in qmgr_check_command.stdout"

- name: Restart the torque server
  become: true
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - torque-server
    - torque-mom
    - torque-scheduler
  when: 
    "'batch' not in qmgr_check_command.stdout"

- name: Add scheduler info to Release Notes file
  ini_file:
    path: "{{ ansible_env.HOME }}/Desktop/RELEASENOTES.txt"
    section: "Job Scheduler"
    option: "installed"
    value: "This virtual machine contains the TORQUE scheduler. You can submit jobs using 'qsub' and get the status using 'qstat' (or you can use AiiDA)."
