---
name: CI-build

on:
  push:
    branches: [main]
  pull_request:
    paths-ignore: ["docs/**"]
jobs:
  build-init:
    # this job initialises the vagrant box
    # then just runs some initial ansible tasks
    # for the full build,  see build.yml
    runs-on: macos-latest
    env:
      VAGRANT_NO_GUI: true
      VAGRANT_ON_GH: true

    steps:
    - uses: actions/checkout@v3
    - name: set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: install pip requirements
      run: |
        pip install --upgrade pip
        pip install wheel
        pip install -r requirements.txt

    - name: install ansible requirements
      run: ansible-galaxy install -r requirements.yml

    - name: Build Vagrant Box
      run: ANSIBLE_ARGS="--tags init,ci_test" vagrant up

    - name: Archive ansible log
      uses: actions/upload-artifact@v3
      with:
        name: ansible-log
        path: ansible.log
