name: CI

on:
  push:
    branches: [master]
    tags:
    - '*'
  pull_request:

jobs:

  build:
    runs-on: macos-latest
    steps:

    - uses: actions/checkout@v2

    - name: set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: install python requirements
      run: |
        pip install wheel
        pip install -r requirements.txt

    - name: install Galaxy roles
      run: ansible-galaxy install -r requirements.yml

    - name: Build VM
      run: vagrant up
