---
name: CI

on:
  push:
    branches: [main]
    tags:
    - "*"
  pull_request:
jobs:

  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
    - uses: pre-commit/action@v3.0.0
